/* #root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */



.tam{

}
.en {
  position: absolute;
  left: 5.61%;
  right: 91.76%;
  top: 3.6%;
  bottom: 97.61%;
  /* font-family: "inter,san-serif"; */
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 15px;
  line-height: 24px;
  color: #262626;
}

.arr {
  position: absolute;
  left: 8.61%;
  right: 90.94%;
  top: 5.5%;
  bottom: 97.96%;

  color: #22262a;
}

.US {
  position: absolute;
  left: 10.94%;
  right: 87.4%;
  top: 3%;
  bottom: 60.61%;
  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 15px;
  line-height: 1%;
  color: #22262a;
}
.arr2 {
  position: absolute;
  left: 14.61%;
  right: 90.94%;
  top: 5.5%;
  bottom: 97.96%;
  color: #22262a;
}

.my {
  position: absolute;
  left: 62.47%;
  right: 26.73%;
  top: 2%;
  bottom: 97.67%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1px;
  color: #262626;
}

.pro {
  position: absolute;
  left: 61.01%;
  right: 3.96%;
  top: 3.5%;
  bottom: 90.84%;
  height: 1x;
  width: 15px;
  color: #22262a;
}
.cart {
  position: absolute;
  left: 70.1%;
  right: 5%;
  top: 3.6%;
  bottom: 31.25%;
  /* line-height: 20px; */

  /* border: 2px solid #22262A; */
}

.rou {
  position: absolute;
  left: 70.9%;
  right: 00%;
  top: 1.4%;
  bottom: 0%;
  height: 20px;
  width: 20px;
  /* background: #FB7181; */

  /* border: 2px solid #FFFFFF; */
}
.to {
  position: absolute;
  left: 71.45%;
  right: 35%;
  top: 0.4%;
  bottom: 10%;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;

  text-align: center;
  letter-spacing: 0.5px;

  color: white;
}
.it {
  position: absolute;
  left: 75.15%;
  right: 17.32%;
  top: 1.3%;
  bottom: 9.68%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2px;

  color: #262626;
}

.oo {
  position: absolute;
  left: 81.51%;
  right: 11.72%;
  top: 1.51%;
  bottom: 97.65%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1px;

  color: #262626;

  opacity: 0.5;
}

.se {
  position: absolute;
  left: 85.4%;
  right: 9.75%;
  top: 3.3%;
  bottom: 97.72%;

  /* background: #22262A; */
}

.divi {
  position: absolute;
  left: -0.43%;
  right: 0.4%;
  top: 8.88%;
  bottom: 97.05%;
  width: 100%;

  background: #fafafb;
  /* background-color: #22262A; */
}

.bg {
  position: absolute;
  left: 6.6%;
  right: 11px;
  top: 15%;
  bottom: 100%;
  height: 34px;
  width: 34px;

  background: #40bfff;
  border-radius: 12px;
}

.tri {
  position: absolute;
  left: 7.2%;
  right: 16.67%;
  top: 16.2%;
  bottom: 2.78%;
  background: #40bfff;
  transform: rotate(90deg);
}
.ecom {
  position: absolute;
  left: 10%;
  right: 83.14%;
  top: 16.38%;
  bottom: 94.68%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;

  color: #22262a;
}

.ho {
  position: absolute;
  left: 33.88%;
  right: 59.45%;
  top: 3.89%;
  bottom: 94.85%;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160px;
  color: #40bfff;
}

.ba {
  position: absolute;
  left: 45.07%;
  right: 48.59%;
  top: 3.89%;
  bottom: 94.85%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160px;
  /* identical to box height */

  color: #262626;
}

.sn {
  position: absolute;
  left: 55.93%;
  right: 34.13%;
  top: 3.89%;
  bottom: 94.85%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160px;

  color: #262626;
}

.be {
  position: absolute;
  left: 70.39%;
  right: 24.14%;
  top: 3.89%;
  bottom: 94.85%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160px;
  /* identical to box height */

  color: #262626;
}

.co1 {
  position: absolute;
  left: 80.38%;
  right: 9.75%;
  top: 3.89%;
  bottom: 94.85%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160px;

  color: #262626;
}

.li {
  position: absolute;
  left: -0.03%;
  right: 0%;
  top: 23.72%;
  bottom: 90.5%;
  height: 31px;
  width: 100%;

  background: #f6f7f8;
  opacity: 0.5;
}

.hd {
  position: absolute;
  left: 46%;
  right: 51.8%;
  top: 7.23%;
  bottom: 92%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 208px;
  /* identical to box height */

  color: #33a0ff;
}

.sl {
  position: absolute;
  left: 49.5%;
  right: 50.93%;
  top: 7.4%;
  bottom: 92%;
  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 208px;
  color: #c1c8ce;
}

.dea {
  position: absolute;
  left: 50.67%;
  right: 45.67%;
  top: 7.4%;
  bottom: 92%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 208px;

  color: #262626;
}

.hot {
  position: absolute;
  left: 5.86%;
  right: 7.14%;
  top: 36.24%;
  bottom: 72.8%;
  height: 265px;
  width: 200px;

  background: #f6f7f8;
}

.hot1 {
  position: absolute;
  left: 6.2%;
  right: 8.07%;
  top: 5%;
  bottom: 8.16%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  /* identical to box height */

  color: #22262a;
}

.hot231 {
  position: absolute;
  left: 5.86%;
  right: 7.14%;
  top: 129.24%;
  bottom: 72.8%;
  height: 201px;
  width: 200px;

  background: #f6f7f8;
}

.lit {
  position: absolute;
  left: 6.2%;
  right: 8.54%;
  top: 15.06%;
  bottom: 79.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #262626;
}
.lit1 {
  position: absolute;
  left: 6.2%;
  right: 8.54%;
  top: 19.06%;
  bottom: 79.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #262626;
}

.lite2 {
  position: absolute;
  left: 6.2%;
  right: 8.54%;
  top: 36.06%;
  bottom: 79.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #33a0ff;
}

.lit3 {
  position: absolute;
  left: 6.2%;
  right: 8.54%;
  top: 54.06%;
  bottom: 79.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #262626;
}

.lit4 {
  position: absolute;
  left: 6.2%;
  right: 8.54%;
  top: 73.06%;
  bottom: 79.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #262626;
}

.cou {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 19.06%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #22262a;
}

.counik {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 1740.9%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #22262a;
}

.couva {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 1040.06%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #22262a;
}

.couall {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 2570%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #22262a;
}

.couadi {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 3600%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #22262a;
}

.couadiarr {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 780%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #33a0ff;
}

.couadiarr1 {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 4450%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  /* color: #33a0ff; */
}
.op {
  opacity: 0.39;
}

.coub1 {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 27%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  opacity: 0.35;

  color: #22262a;
}
.coub2 {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 36.86%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #33a0ff;
}
.coub3 {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 54.8%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  opacity: 0.35;

  color: #22262a;
}
.coub4 {
  position: absolute;
  left: 80.98%;
  right: 76.29%;
  top: 73.8%;
  bottom: 79.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  opacity: 0.35;

  color: #22262a;
}

.opb {
  opacity: 0.39;
}
.arib {
  color: #33a0ff;
  opacity: 0.9 !important;
  top: 80.06%;
}

.pri {
  position: absolute;
  left: 5.86%;
  right: 7.14%;
  top: 87.24%;
  bottom: 72.8%;
  height: 100px;
  width: 200px;

  background: #f6f7f8;
}

.PRI1 {
  position: absolute;
  left: 5.2%;
  right: 87.67%;
  top: 1%;
  bottom: 74.14%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  /* identical to box height */

  color: #22262a;
}

.lit2 {
  position: absolute;
  left: 6.2%;
  right: 8.54%;
  top: 20.06%;
  bottom: 79.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #262626;
}
.cou2 {
  position: absolute;
  left: 40.98%;
  right: 7.29%;
  top: 23.68%;
  bottom: 7.51%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #22262a;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12.8%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 105%;
  bottom: 0;
  left: 7%;
  background-color: #2e90e5;
  pointer-events: none;
  /* border: 2px solid #FFFFFF; */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-color: #2e90e5;
  cursor: pointer;
  margin-top: -11px;
  pointer-events: auto;
  border-radius: 50%;
  border: #f6f7f8;
  border: 2px solid #ffffff;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #2e90e5;

  border: 2px solid #ffffff;
}
.slider {
  width: 12%;
  height: 3px;
  position: absolute;
  margin: auto;
  top: 100%;
  bottom: -2.8%;
  left: 7.35%;
  border-radius: 5px;
  background-color: #2e90e5;
}

.colo {
  position: absolute;
  left: 5.86%;
  right: 7.14%;
  top: 110.24%;
  bottom: 72.8%;
  height: 80px;
  width: 200px;

  background: #f6f7f8;
}
.co {
  position: absolute;
  left: 5.2%;
  right: 8.07%;
  top: 4%;
  bottom: 8.16%;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  color: #22262a;
}

.blue {
  position: absolute;
  left: 9%;
  right: 89.94%;
  top: 35%;
  bottom: 60.45%;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  border: 2px solid #006cff;
  background-color: #006cff;

  word-spacing: 10px;
}

.blu {
  border: 2px solid #006cff;
  opacity: 0.5;
  border-radius: 50px;
  height: 17px;
  width: 17px;
  position: absolute;
  left: 7.2%;
  right: 89.94%;
  top: 50.7%;
  bottom: 60.45%;
}
.or {
  position: absolute;
  left: 24%;
  right: 89.94%;
  top: 35%;
  bottom: 66.45%;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  border: 2px solid #fc3e39;
  background-color: #fc3e39;
  word-spacing: 10px;
}
.bla {
  position: absolute;
  left: 39%;
  right: 89.94%;
  top: 35%;
  bottom: 66.45%;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  border: 2px solid #171717;
  background-color: #171717;
}
.yel {
  position: absolute;
  left: 54%;
  right: 89.94%;
  top: 35%;
  bottom: 66.45%;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  border: 2px solid #fff600;
  background-color: #fff600;
}
.ros {
  position: absolute;
  left: 69%;
  right: 89.94%;
  top: 35%;
  bottom: 66.45%;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  border: 2px solid #ff00b4;
  background-color: #ff00b4;
}
.gol {
  position: absolute;
  left: 84%;
  right: 89.94%;
  top: 35%;
  bottom: 66.45%;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  border: 2px solid #efdfdf;
  background-color: #efdfdf;
}

.but {
  position: absolute;
  left: 5.86%;
  right: 7.14%;
  top: 170.24%;
  bottom: 72.8%;
  height: 56px;
  width: 200px;

  background: #f6f7f8;
}

.butto {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #262626;
  border: #f6f7f8;
}

.butto:hover {
  background-color: #f6f7f8;
}

.adi {
  position: absolute;
  left: 26.94%;
  right: 12%;
  top: 36.2%;
  bottom: 25.28%;

  background: #40bfff;
}

.shoe1 {
  position: absolute;
  left: 44.5%;
  right: -10.02%;
  top: -19%;
  bottom: 80.5%;
  height: 260px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.adit {
  position: absolute;
  left: 9.26%;
  right: 42.34%;
  top: 2%;
  bottom: 82.91%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;

  color: #ffffff;
}

.per {
  position: absolute;
  left: 9.26%;
  right: 42.34%;
  top: 46.86%;
  bottom: 82.91%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

.SHOP {
  position: absolute;
  left: 9.29%;
  right: 60.8%;
  top: 69.95%;
  bottom: 81.41%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: #ffffff;
}

.line {
  position: absolute;
  left: 9.29%;
  right: 63.2%;
  top: 84.90%;
  bottom: 81.22%;
  height: 2.7px;
  width: 37.4px;

  background: #ffffff;
}

.lis {
  position: absolute;
  left: 26.94%;
  right: 8.95%;
  top: 76.53%;
  bottom: 76.45%;
  height: 38px;
  width: 773px;

  background: #f6f7f8;
}

.items13 {
  position: absolute;
  left: 2.43%;
  right: 6.76%;
  top: -11.22%;
  bottom: 7.11%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #22262a;
}

.sort {
  position: absolute;
  left: 13.43%;
  right: 6.14%;
  top: -11.22%;
  bottom: 77.11%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #22262a;
}

.aditsa {
  position: absolute;
  left: 9.26%;
  right: 42.34%;
  top: 17%;
  bottom: 82.91%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;

  color: #ffffff;
}

.naa {
  position: absolute;
  left: 30.86%;
  right: 56.31%;
  top: -15.26%;
  bottom: 77.08%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #22262a;
}

.na {
  position: absolute;
  left: 28.86%;
  right: 55.84%;
  top: 18.26%;
  bottom: 11.8%;

  border: 2px solid #f1f3f4;
}

.naar {
  position: absolute;
  left: 41.62%;
  right: 52.89%;
  top: 50.5%;
  bottom: 77.36%;
}

.sho {
  position: absolute;
  left: 52.03%;
  right: 45.29%;
  top: 25.92%;
  bottom: 77.11%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #22262a;
}

.shna {
  position: absolute;
  left: 59.02%;
  right: 25.58%;
  top: 20.94%;
  bottom: 12.8%;

  border: 2px solid #f1f3f4;
}
.twe {
  position: absolute;
  left: 9.66%;
  right: 42.34%;
  top: -66.26%;
  bottom: 7.08%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #272b2f;
}

.twnaar {
  position: absolute;
  left: 69.62%;
  right: 52.89%;
  top: 49.5%;
  bottom: 77.36%;
}

.gih {
  position: absolute;
  left: 95.54%;
  right: 10.13%;
  top: 30.26%;
  bottom: 77.67%;

  color: #40bfff;
}

.gih1 {
  position: absolute;
  left: 87.54%;
  right: 10.13%;
  top: -1%;
  bottom: 77.67%;
  height: 38px;
  width: 35px;
  opacity: 0.8;
}

.sh1 {
  position: absolute;
  left: 0%;
  right: 53.09%;
  top: 153.26%;
  bottom: 66.22%;
  height: 250px;
  width: 250px;
  /* backround-image: url("./A"); */
  border-radius: 5px;
}

.nike {
  position: absolute;
  left: 33.94%;
  right: 3.12%;
  top: 85.25%;
  bottom: 7.49%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #22262a;
}

.nike1 {
  position: absolute;
  left: 47.84%;
  right: 3.12%;
  top: 143.8%;
  bottom: 7.49%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #22262a;
}

.nike1sho {
  position: absolute;
  left: 47.7%;
  right: 3.12%;
  top: 204.25%;
  bottom: 7.49%;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22262a;
}

.nike1shola {
  position: absolute;
  left: 47.7%;
  right: 3.12%;
  top: 266.25%;
  bottom: 7.49%;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22262a;
}

.star {
  position: absolute;
  left: 33.94%;
  right: 51.33%;
  top: 286.15%;
  bottom: 73.5%;
  height: 9px;
  width: 9.89px;
  color: #ffc600;
  size: 10px;
}
.star1 {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star1 {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star2 {
  position: absolute;
  left: 300%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star3 {
  position: absolute;
  left: 450%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star4 {
  position: absolute;
  left: 600%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
  color: #c1c8ce;
}

.star2311 {
  position: absolute;
  left: 47.94%;
  right: 51.33%;
  top: 158.15%;
  bottom: 73.5%;
  height: 9px;
  width: 9.89px;
  color: #ffc600;

  size: 10px;
}
.star11 {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star11 {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star23 {
  position: absolute;
  left: 300%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star34 {
  position: absolute;
  left: 450%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star45 {
  position: absolute;
  left: 600%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
  color: #c1c8ce;
}

.starshl {
  position: absolute;
  left: 47.94%;
  right: 51.33%;
  top: 281.15%;
  bottom: 73.5%;
  height: 9px;
  width: 9.89px;
  color: #ffc600;
  size: 10px;
}

.star1shl {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star2shl {
  position: absolute;
  left: 300%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star3shl {
  position: absolute;
  left: 450%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star4shl {
  position: absolute;
  left: 600%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
  color: #c1c8ce;
}

.star2311 {
  position: absolute;
  left: 47.94%;
  right: 51.33%;
  top: 158.15%;
  bottom: 73.5%;
  height: 9px;
  width: 9.89px;
  color: #ffc600;

  size: 10px;
}
.star11 {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star11 {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star23 {
  position: absolute;
  left: 300%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star34 {
  position: absolute;
  left: 450%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star45 {
  position: absolute;
  left: 600%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
  color: #c1c8ce;
}

.rev {
  position: absolute;
  left: 46.88%;
  right: 4.12%;
  top: 246%;
  bottom: 73.4%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #c1c8ce;
}

.rev1 {
  position: absolute;
  left: 55.6%;
  right: 4.12%;
  top: 156%;
  bottom: 73.4%;
  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #c1c8ce;
}

.rev1sh {
  position: absolute;
  left: 55.6%;
  right: 4.12%;
  top: 215.8%;
  bottom: 73.4%;
  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #c1c8ce;
}

.rev1shla {
  position: absolute;
  left: 55.6%;
  right: 4.12%;
  top: 278.8%;
  bottom: 73.4%;
  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #c1c8ce;
}

.sub {
  position: absolute;
  left: 56.75%;
  right: 4.72%;
  top: 246%;
  bottom: 73.4%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.sub1 {
  position: absolute;
  left: 61.7%;
  right: 4.72%;
  top: 156%;
  bottom: 73.4%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.sub1sh {
  position: absolute;
  left: 61.7%;
  right: 4.72%;
  top: 215.8%;
  bottom: 73.4%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.sub1shla {
  position: absolute;
  left: 61.7%;
  right: 4.72%;
  top: 278.8%;
  bottom: 73.4%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.imgline {
  position: absolute;
  left: 33.94%;
  right: 20.72%;
  top: 370.2%;
  bottom: 72.73%;
  height: 2px;
  width: 400px;
  background: #f6f7f8;
}

.imgline11 {
  position: absolute;
  left: 48%;
  right: 20.72%;
  top: 165.2%;
  bottom: 72.73%;
  height: 2px;
  width: 400px;

  background: #f6f7f8;
}

.imgline11sh {
  position: absolute;
  left: 48%;
  right: 20.72%;
  top: 225.8%;
  bottom: 72.73%;
  height: 2px;
  width: 400px;

  background: #f6f7f8;
}

.imgline11shla {
  position: absolute;
  left: 48%;
  right: 20.72%;
  top: 288.8%;
  bottom: 72.73%;
  height: 2px;
  width: 400px;

  background: #f6f7f8;
}

.prip1 {
  position: static;
  width: 84px;
  height: 36px;
  left: 0px;
  top: 0px;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 150px 0px;
  margin-left: 260px;
}

.prip12 {
  position: static;
  width: 84px;
  height: 36px;
  left: 0px;
  top: 0px;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 920px 0px;
  margin-left: 605px;
}

.prip12sh {
  position: static;
  width: 84px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 299px 0px;
  margin-left: 605px;
}

.prip12shla {
  position: static;
  width: 84px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 299px 0px;
  margin-left: 605px;
}
.prip2 {
  position: static;
  width: 57px;
  height: 21px;
  left: 0px;
  top: -3px;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  /* Neutral/Grey */

  color: #9098b1;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -23%;
  margin-left: 350px;
}

.prip23 {
  position: static;
  width: 57px;
  height: 21px;
  left: 0px;
  top: -3px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  color: #9098b1;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -75%;
  margin-left: 696px;
}

.prip23sh {
  position: static;
  width: 57px;
  height: 21px;
  left: 0px;
  top: -3px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  color: #9098b1;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -25.9%;
  margin-left: 702px;
}
.offer {
  position: static;
  width: 57px;
  height: 21px;
  left: 65px;
  top: -3px;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15%;
  /* identical to box height, or 21px */

  letter-spacing: 0.5px;

  /* Primary/Red */

  color: #fb7181;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -10px;
  margin-left: 410px;
}

.offer1198 {
  position: static;
  width: 57px;
  height: 21px;
  left: 65px;
  top: -3px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15%;
  letter-spacing: 0.5px;
  color: #fb7181;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -10px;
  margin-left: 760px;
}

.offer1198sh {
  position: static;
  width: 57px;
  height: 21px;
  left: 65px;
  top: -3px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15%;
  letter-spacing: 0.5px;
  color: #fb7181;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -10px;
  margin-left: 765px;
}

.des1 {
  position: absolute;
  left: 47.94%;
  right: 8.61%;
  top: 110.57%;
  bottom: 69.08%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #262626;
}

.cart1 {
  position: absolute;
  left: 47.94%;
  right: 42.06%;
  top: 126.76%;
  bottom: 65.63%;

  background: #33a0ff;
  opacity: 0.1;
  height: 46px;
  width: 135px;
  border: 1px solid #33a0ff;
  border-radius: 5px;
}

.des122 {
  position: absolute;
  left: 47.94%;
  right: 8.61%;
  top: 172.57%;
  bottom: 69.08%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #262626;
}

.des122sh {
  position: absolute;
  left: 47.94%;
  right: 8.61%;
  top: 234.57%;
  bottom: 69.08%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #262626;
}

.des122shla {
  position: absolute;
  left: 47.94%;
  right: 8.61%;
  top: 295%;
  bottom: 69.08%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #262626;
}

.cart122 {
  position: absolute;
  left: 47.94%;
  right: 42.06%;
  top: 188.76%;
  bottom: 65.63%;

  background: #33a0ff;
  opacity: 0.1;
  height: 46px;
  width: 135px;
  border: 1px solid #33a0ff;
  border-radius: 5px;
}

.cart122sh {
  position: absolute;
  left: 47.94%;
  right: 42.06%;
  top: 250.76%;
  bottom: 65.63%;

  background: #33a0ff;
  opacity: 0.1;
  height: 46px;
  width: 135px;
  border: 1px solid #33a0ff;
  border-radius: 5px;
}

.cart122shla {
  position: absolute;
  left: 47.94%;
  right: 42.06%;
  top: 312.76%;
  bottom: 65.63%;

  background: #33a0ff;
  opacity: 0.1;
  height: 46px;
  width: 135px;
  border: 1px solid #33a0ff;
  border-radius: 5px;
}

.a {
  position: absolute;
  left: 51.31%;
  right: 4.82%;
  top: 127.23%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.a1 {
  position: absolute;
  left: 49.31%;
  right: 4.82%;
  top: 130%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 12px;

  color: #33a0ff;
}

.a2 {
  position: absolute;
  left: 61.01%;
  right: 37.92%;
  top: 126.9%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;

  background: #33a0ff;
  opacity: 0.1;
  border-radius: 5px;
}

.a3 {
  position: absolute;
  left: 62.21%;
  right: 37.92%;
  top: 126.9%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;
  color: #33a0ff;
}

.a111 {
  position: absolute;
  left: 51.31%;
  right: 4.82%;
  top: 189.5%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.a111sh {
  position: absolute;
  left: 51.31%;
  right: 4.82%;
  top: 252%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.a111shla {
  position: absolute;
  left: 51.31%;
  right: 4.82%;
  top: 313%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #33a0ff;
}

.a122 {
  position: absolute;
  left: 49.31%;
  right: 4.82%;
  top: 192%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 12px;

  color: #33a0ff;
}

.a122sh {
  position: absolute;
  left: 49.31%;
  right: 4.82%;
  top: 254.9%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 12px;

  color: #33a0ff;
}

.a122shla {
  position: absolute;
  left: 49.31%;
  right: 4.82%;
  top: 316%;
  bottom: 66.17%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 12px;

  color: #33a0ff;
}

.a233 {
  position: absolute;
  left: 61.01%;
  right: 37.92%;
  top: 189%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;

  background: #33a0ff;
  opacity: 0.1;
  border-radius: 5px;
}

.a233sh {
  position: absolute;
  left: 61.01%;
  right: 37.92%;
  top: 251%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;

  background: #33a0ff;
  opacity: 0.1;
  border-radius: 5px;
}

.a233shla {
  position: absolute;
  left: 61.01%;
  right: 37.92%;
  top: 313%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;

  background: #33a0ff;
  opacity: 0.1;
  border-radius: 5px;
}

.a344 {
  position: absolute;
  left: 62.21%;
  right: 37.92%;
  top: 189%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;
  color: #33a0ff;
}

.a344sh {
  position: absolute;
  left: 62.21%;
  right: 37.92%;
  top: 251%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;
  color: #33a0ff;
}

.a344shla {
  position: absolute;
  left: 62.21%;
  right: 37.92%;
  top: 312.9%;
  bottom: 65.63%;
  height: 46px;
  width: 46px;
  color: #33a0ff;
}

.img1l {
  position: absolute;
  left: 26.94%;
  right: 14.06%;
  top: 140.42%;
  bottom: 64.51%;
  width: 770px;
  height: 2px;

  background: #f6f7f8;
}

.img1l2 {
  position: absolute;
  left: 26.94%;
  right: 14.06%;
  top: 202.42%;
  bottom: 64.51%;
  width: 770px;
  height: 2px;

  background: #f6f7f8;
}

.img1l2sh {
  position: absolute;
  left: 26.94%;
  right: 14.06%;
  top: 264.42%;
  bottom: 64.51%;
  width: 770px;
  height: 2px;

  /* background: #2c639b; */
  background: #f6f7f8;
}

.bg1 {
  position: absolute;
  left: 27%;
  right: 53.09%;
  top: 147.26%;
  bottom: 66.22%;
  height: 250px;
  width: 250px;

  border-radius: 5px;
}

.bsho {
  position: absolute;
  left: 27%;
  right: 53.09%;
  top: 208.26%;
  bottom: 66.22%;
  height: 250px;
  width: 250px;

  border-radius: 5px;
}

.bshola {
  position: absolute;
  left: 27%;
  right: 53.09%;
  top: 270.26%;
  bottom: 66.22%;
  height: 250px;
  width: 250px;

  border-radius: 5px;
}

.star2311sh {
  position: absolute;
  left: 47.6%;
  right: 51.33%;
  top: 218.15%;
  bottom: 73.5%;
  height: 9px;
  width: 9.89px;
  color: #ffc600;
  size: 10px;
}
.star11sh {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
/* .star12sh {
  position: absolute;
  left: 150%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
} */
.star23sh {
  position: absolute;
  left: 300%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star34sh {
  position: absolute;
  left: 450%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
}
.star45sh {
  position: absolute;
  left: 600%;
  right: 50.3%;
  top: 5.15%;
  bottom: 7.5%;
  color: #c1c8ce;
}

.pagec {
  position: absolute;
  left: 26.81%;
  right: 8.95%;
  top: 328.44%;
  bottom: 25.6%;

  background: #fafafb;
  width: 850.55px;
  height: 40px;
}

.pg {
  position: absolute;
  left: 50.43%;
  right: 35.76%;
  top: 327%;
  bottom: 26.23%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #22262a;
}

.pg1 {
  position: absolute;
  left: 55.43%;
  right: 35.76%;
  top: 327%;
  bottom: 26.23%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #22262a;
}

.pg2 {
  position: absolute;
  left: 60.43%;
  right: 35.76%;
  top: 327%;
  bottom: 26.23%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #fefcfc;
}

.pgcl {
  position: absolute;
  left: 59%;
  right: 39%;
  top: 325.44%;
  bottom: 25.6%;
  height: 40px;
  width: 50px;

  background: #40bfff;
}

.pg3 {
  position: absolute;
  left: 65.43%;
  right: 35.76%;
  top: 327%;
  bottom: 26.23%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #22262a;
}

.pg4 {
  position: absolute;
  left: 70.43%;
  right: 35.76%;
  top: 327%;
  bottom: 26.23%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #22262a;
}

.blueend {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 343.21%;
  bottom: 0%;
  height: 130%;
  width: 1300px;

  background: #bcddfe;
}

.lo {
  position: absolute;
  left: 10%;
  right: 0%;
  top: 15%;
  bottom: 0%;

  /* Primary/Blue */

  background: #40bfff;
  border-radius: 16px;
}

.lot {
  position: absolute;
  left: 13.39%;
  right: 8.01%;
  top: 13.62%;
  bottom: 17.44%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #22262a;
}

.lop {
  position: absolute;
  left: 10.32%;
  right: 74.94%;
  top: 23%;
  bottom: 14.02%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #22262a;
}

.follo {
  position: absolute;
  left: 43.4%;
  right: 50%;
  top: 14%;
  bottom: 17.17%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #22262a;
}

.folt {
  position: absolute;
  left: 43.4%;
  right: 43.4%;
  top: 22%;
  bottom: 14.92%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #22262a;
}

.fb {
  position: absolute;
  left: 43.5%;
  right: 55.99%;
  top: 35%;
  bottom: 13.6%;
}

.tw {
  position: absolute;
  left: 46.63%;
  right: 52.39%;
  top: 35.40%;
  bottom: 13.65%;
}

.con {
  position: absolute;
  left: 70.43%;
  right: 21.84%;
  top: 14%;
  bottom: 17.06%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #22262a;
}

.cont {
  position: absolute;
  left: 70.43%;
  right: 18.69%;
  top: 20.91%;
  bottom: 14.18%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #22262a;
}

.inf {
  position: absolute;
  left: 10.32%;
  right: 84.08%;
  top: 50.81%;
  bottom: 10.24%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #22262a;
}

.infd {
  position: absolute;
  left: 10.32%;
  right: 81.9%;
  top: 57.8%;
  bottom: 8.26%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  color: #262626;
}

.ser {
  position: absolute;
  left: 31.35%;
  right: 64.25%;
  top: 50.82%;
  bottom: 10.43%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #22262a;
}

.serd {
  position: absolute;
  left: 31.35%;
  right: 60.52%;
  top: 57.78%;
  bottom: 6.29%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  color: #262626;
}

.acc {
  position: absolute;
  left: 56.55%;
  right: 30.38%;
  top: 50.82%;
  bottom: 10.24%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #22262a;
}

.serda {
  position: absolute;
  left: 56.52%;
  right: 35.52%;
  top: 57.78%;
  bottom: 6.29%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  color: #262626;
}

.ouo {
  position: absolute;
  left: 79.08%;
  right: 10.78%;
  top: 50.82%;
  bottom: 10.08%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #22262a;
}

.ouod {
  position: absolute;
  left: 79.24%;
  right: 13%;
  top: 57.8%;
  bottom: 6.49%;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  color: #262626;
}

.copy {
  position: absolute;
  left: 10.34%;
  right: 60.93%;
  top: 89.33%;
  bottom: 2.08%;

  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #c1c8ce;
}

.lila {
  position: absolute;
  left: 11.39%;
  right: 9.89%;
  top: 83.12%;
  bottom: 3.84%;
  height: 1.17px;
  width: 1000px;

  background: #f6f7f8;
}

.br {
  position: absolute;
  left: 74.25%;
  /* left: 10.34%; */
  right: 11.59%;
  top: 91%;
  bottom: 1.89%;
  height: 20px;
  width: 150px;
}

.hot31 {
  position: absolute;
  left: 2.4%;
  right: 68.72%;
  top: 180.35%;
  bottom: 37.95%;
  width: 40px;
  height: 20px;
  border-radius: 4px;

  background: #ff4858;
}

.hotp {
  position: absolute;
  left: 20.14%;
  right: 69.2%;
  top: -46.42%;
  bottom: 38.05%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}

/* ------ */

.hot31 {
  position: absolute;
  left: 2.4%;
  right: 68.72%;
  top: 180.35%;
  bottom: 37.95%;
  width: 40px;
  height: 20px;

  background: #ff4858;
}

.hotp {
  position: absolute;
  left: 20.14%;
  right: 69.2%;
  top: -46.42%;
  bottom: 38.05%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}

.hot31sh2 {
  position: absolute;
  left: 28.4%;
  right: 68.72%;
  top: 149.35%;
  bottom: 37.95%;
  width: 40px;
  height: 20px;
  border-radius: 4px;

  background: #ff4858;
}

.hotpsh2 {
  position: absolute;
  left: 20.14%;
  right: 69.2%;
  top: -46.42%;
  bottom: 38.05%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}

.hot31sh3 {
  position: absolute;
  left: 28.4%;
  right: 68.72%;
  top: 210.35%;
  bottom: 37.95%;
  width: 40px;
  height: 20px;
  border-radius: 4px;

  background: #ff4858;
}

.hotpsh3 {
  position: absolute;
  left: 20.14%;
  right: 69.2%;
  top: -46.42%;
  bottom: 38.05%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}

.hot31sh4 {
  position: absolute;
  left: 28.5%;
  right: 68.72%;
  top: 273.5%;
  bottom: 37.95%;
  width: 40px;
  height: 20px;
  border-radius: 4px;

  background: #ff4858;
}

.hotp {
  position: absolute;
  left: 20.14%;
  right: 69.2%;
  top: -46.42%;
  bottom: 38.05%;

  font-family: "Proxima Nova" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}


/* <end> */
